<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.architecture">

    <application>
        <activity android:name=".eventbus.EventBusSecondActivity"></activity>
        <activity android:name=".eventbus.EventBusMainActivity" />
        <activity android:name=".binder.BinderActivity" />
        <activity android:name=".handle_message.ActivityThreadActivity" />
        <activity android:name=".ArchitectureMainActivity" />
        <activity android:name=".aop.AopMainActivity" />
    </application>

</manifest>