<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.ui">

    <application>
        <activity
            android:name=".material_design.MaterialDesignMainActivity"
            android:label="Material Design Ui"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".animation_framework.AnimatorFrameworkMainActivity" />
        <activity android:name=".animation.SplashActivity" />
        <activity android:name=".animation.AnimationMainActivity" />
        <activity android:name=".item_touch_event.ItemTouchMainActivity" />
        <activity android:name=".screen_adapter.ScreenAdapterMainActivity2" />
        <activity android:name=".screen_adapter.ScreenAdapterMainActivity" />
        <activity android:name=".paint_gradient.PaintGradientActivity" />
        <activity android:name=".flowlayout.FlowLayoutActivity" />
        <activity android:name=".UiMainActivity" />
    </application>

</manifest>