<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.ui">

    <application>
        <activity android:name=".recyclerview.RecyclerViewActivity"></activity>
        <activity android:name=".animation.LayoutTransitionActivity" />
        <activity android:name=".animator.MyAnimatorActivity" />
        <activity android:name=".animation_view.ViewAnimationActivityActivity" />
        <activity android:name=".viewstub.ViewStubActivity" />
        <activity android:name=".custom_recycler.CustomRecyclerViewActivity" />
        <activity android:name=".qq_header_scrollerview.QQHeaderActivity" />
        <activity android:name=".custom_view.CustomViewActivity" />
        <activity android:name=".MenuDrawerLayout.MenuDrawerLayoutActivity" />
        <activity
            android:name=".nested_scrolling.NestedScrollingActivity"
            android:label="Behavior Scrolling"
            android:theme="@style/BehaviorTheme" />
        <activity android:name=".recyclerview.RefreshRecyclerViewActivity" />
        <activity
            android:name=".material_design.MaterialDesignMainActivity"
            android:label="Material Design Ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".animation_framework.AnimatorFrameworkMainActivity" />
        <activity android:name=".animation.SplashActivity" />
        <activity android:name=".animation.AnimationMainActivity" />
        <activity android:name=".item_touch_event.ItemTouchMainActivity" />
        <activity android:name=".screen_adapter.ScreenAdapterMainActivity2" />
        <activity android:name=".screen_adapter.ScreenAdapterMainActivity" />
        <activity android:name=".paint_gradient.PaintGradientActivity" />
        <activity android:name=".flowlayout.FlowLayoutActivity" />
        <activity android:name=".UiMainActivity" />
    </application>

</manifest>