<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.optimization">

    <application android:name=".OptimizationApplication">
        <activity android:name=".bitmapmanage.BitmapManageMainActivity"></activity>
        <activity android:name=".memory.MemoryMainActivity" />
        <activity android:name=".uidrawing.UiDrawingMainActivity" />
        <activity android:name=".OptimizationMainActivity" />
        <activity android:name=".startup.AppStartupMainActivity" />
    </application>

</manifest>